:root {

    --bad-black: #121212;
    --bad-olive: #4B5320;
    --bad-gold: #B08D57;
    --bad-background: #F5F5F2;

}

body {
    background-color: var(--bad-background);
}

.bad-sidebar {

    background-color: var(--bad-black);
    color: white;
    min-height: 100vh;
    width: 260px;

}
